.blue {
    color: #0085A1;
}
.btnBooking {
    margin-top: 80px;
    margin-bottom: -90px;
    font-size: 1.50rem;
    padding: 1rem 2rem;
    color: #5CE1E6;
    border-color: #5CE1E6;
}
.btnBooking:hover {
    background-color: #5CE1E6;
}