.blue {
    color: #0085A1;
}
.btnBooking {
    margin-top: 80px;
    margin-bottom: -90px;
    font-size: 1.50rem;
    padding: 1rem 2rem;
    color: #5CE1E6;
    border-color: #5CE1E6;
}
.btnBooking:hover {
    background-color: #5CE1E6;
    border-color: #5CE1E6;
}
.cookieConsent {
    align-items: baseline;
    background-color: rgb(33, 33, 33);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0px; position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 0px;
}
.cookieConsentLabel {
    flex: 1 0 300px; 
    margin: 15px;
    font-size: 15px;
}
.cookieConsentBtnBlock {
    display: flex;
}